{% extends 'header.html' %}
{% load static %}
{% block content %}
        <div class="old-box ">
            <p class="p1">
                <strong>registro visual</strong> de mi descenso a la locura, espero que tu estancia aquí sea placentera. y recuerda, cuidado con las 'bananas'.
            </p>
    
            <div class="puertaytexto">
                <div class="columna-izquierda">
                    <p>
                        BUENASSSSSSSSSSSSSSSSSSSSSSSSSS, soy Álvaro, el creador de esta hermosa página web,
                        desde pequeño siempre he sido un frikazo y me he movido por el mundo del internete.
                        
                    </p>
                </div>
                <div class="columna-derecha">
                    <img src="{% static '/img/me.gif'%}" alt="puerta1" class="mephoto"  >
                </div>   
        </div>
    </div>
    <div class="firebar"></div>
    <!-- Aquí va el contenido específico de cada página -->
{% endblock %}
